name: Run Bot

on:
  workflow_dispatch:
  schedule:
    - cron: "*/5 * * * *"

jobs:
  run-bot:
    runs-on: ubuntu-latest
    steps:
      - name: Kodu çek
        uses: actions/checkout@v3

      - name: Python kur
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Gereksinimleri yükle
        run: pip install requests python-dotenv

      - name: Botu çalıştır
        env:
          X_API_KEY: ${{ secrets.X_API_KEY }}
        run: python bot.py
